{{ 'glider.min.css' | asset_url |  stylesheet_tag }}

<style>
    .carousel-card {
        /* border: 1px solid #333333; */
        border-radius: 16px;
        overflow: hidden;
        padding: 16px;
    }

    .card__image {
        max-width: 100%;
        height: auto;
        aspect-ratio: 1;
        object-fit: contain;
    }

    .card__title {
        text-align: center;
        font-size: 20px;
        color: #333;
        text-decoration: none;
        margin: 0;
    }

    .card__price {
        text-align: center;
        font-size: 20px;
        color: #333;
        text-decoration: none;  
        margin: 0; 
    }

    .glider-track {
        gap: 16px;
    }
    .glider__container {
        margin: 1rem;
    }

    .glider__container .prev,
    .glider__container .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        background: white;
        border: 1px solid black;
        border-radius: 20px;
        height: 30px;
        width: 30px;
        cursor: pointer;

        display: none;

    }

    .glider__container .prev {
        transform: translateY(-50%) rotate(180deg);
        left: 5px;
    }

    .glider__container .next {
        right: 5px;
    }

    .glider__container a {
        text-decoration: none;
    }

    @media (min-width: 700px) {
        .glider__container .prev,
        .glider__container .next {
            display: block;
        }
    }

</style>
<div class="page-width glider__container" id="{{ section.id }}"> 
    <div class="glider">
        {% for block in section.blocks %}
            {% if block.type == "product" %}
                <a href="{{ block.settings.product.url }}" class="carousel-card">
                    {{ block.settings.product.featured_image | image_url: width: 529 |  image_tag: class: 'card__image' }}
                    <p class="card__title">{{ block.settings.title | default: block.settings.product.title }}</p>
                    <p class="card__price">{{ block.settings.product.price | money_with_currency}}</p>
                </a>
            {% endif %}
            
        {% endfor %}
    </div>
    

    <button class="prev" aria-label="Previous slide">
        {{ 'icon-arrow.svg' | inline_asset_content }}
    </button>
    <button class="next" aria-label="Next slide">
        {{ 'icon-arrow.svg' | inline_asset_content }}
    </button>
    
</div>

<script 
    src="{{ 'glider.min.js' |  asset_url  }}" 
    onload="document.dispatchEvent(new Event('glider:loaded'))"
    async
></script>
<script>
    function initCarousel(){
        new Glider(document.querySelector('.glider'), {
            slidesToShow: 1,
            arrows: {
                prev: '#{{ section.id }} .prev',
                next: '#{{ section.id }} .next',
             },
             responsive: [
                {
                    breakpoint: 700,
                    settings: {
                        slidesToShow: {{ section.settings.number_slider_desktop }},
                    }
                },
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 5,
                    }
                }
             ]
        })
    }

    if(window.Glider){
        initCarousel()
    } else {
        document.addEventListener('glider:loaded', () => {
            initCarousel();
        })
    }
</script>

{% schema %}
{       
    "name": "Carousel",
    "settings": [
        {
            "type": "number",
            "id": "number_slider_desktop",
            "label": "Number of Slides (Desktop)",
            "default": 1
        }
    ],
    "blocks": [
        {
            "type": "product",
            "name": "Product",
            "settings": [
                {
                    "type": "product",
                    "label": "Product",
                    "id": "product"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "info": "Optional. Will use the product title if left blank."
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Carousel"
        }
    ]
}
{% endschema %}